@model StudentInfo.Models.ViewModel.AddStudentRequest
@{

    <div class="container bg-light">
            <div class="row d-flex flex-column">
                <div class="col">
                <h3>Add Student</h3>
                </div>
            <div class="col">
                <form  method="post">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name"  asp-for="Name"/>
                    </div>
                    <div class="mb-3">
                        <label for="Department" class="form-label">Department</label>
                        <input type="text" class="form-control" id="department" asp-for="Department"/>
                    </div>
                    <div class="mb-3">
                        <label for="Session" class="form-label">Session</label>
                        <input type="text" class="form-control" id="session" asp-for="Session"/>
                    </div>
                   
                    <button type="submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
            </div>  
    </div>

}
